:root {

  --color-text--light: #999999;
  --color-title--light: #202020;
  --accent--light: #fe7900;

  --primary: #009AF7;
  --primary-light: #E5F5FE;
  --primary-light-bg: #F2FAFF;
  --primary-light-bg-dm: #192837;
  --primary-light-dm: #153A55;
  --primary-hover: #3398FF;
  --primary-pressed: #66B2FF;
  --secondary: #66C2FA;
  --secondary-dm: #0A6AA6;
  --tg-background: #1A222D;
  --tg-background-2: #242F3E;
  --tg-stroke: #3B4655;
  --success: #00B872;
  --success-light-bg: #F2FBF8;
  --success-light-bg-dm: #192A30;
  --error: #FF2749;
  --error-light: #FFF4F6;
  --error-light-hover: #FFDFE5;
  --error-light-pressed: #FFCBD3;
  --error-light-dm: #482333;
  --error-light-dm-hover: #5A2335;
  --error-light-dm-pressed: #6D2437;
  --grayscale-secondary1: #68687B;
  --grayscale-bg-darker: #F3F4F7;
  --tg-secondary: #C1C3C7;
  --grayscale-tetriary2: #D0D0D7;
  --black: #111111;
  --white: #FFFFFF;
  --primary2: #43434E;
  --grayscale-gs-background-darker: #F3F4F7;
  --grayscale-gs-quarterly-1: #DFDFE4;
  --bacground: #f5f5f5;
  --bacground-dark: #282828;
  --font-family: 'proxima-nova';
  --font-weight-300: 300;
  --font-weight-normal: 300;

  --post-grid-poster-height: 357px;
  --post-list-poster-height: 300px;
  --post-list-small-poster-height: 159px;
}

@media screen and (max-width: 767px) {
  :root {
    --post-list-poster-height: 159px;
  }
}
@media screen and (max-width: 570px) {
  :root {
    --post-grid-poster-height: 250px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/********************************* FONTS *****************************/
@font-face {
    font-family: 'proxima-nova';
    font-style: normal;
    font-stretch: normal;
    font-weight: 300;
    font-display: swap;
    src: url(../assets/fonts/ProximaNova/ProximaNova-Regular.ttf);
}

@font-face {
    font-family: 'proxima-nova';
    font-style: normal;
    font-stretch: normal;
    font-weight: 600;
    font-display: swap;
    src: url(../assets/fonts/ProximaNova/ProximaNova-Semibold.ttf);
}

@font-face {
    font-family: 'proxima-nova';
    font-style: normal;
    font-stretch: normal;
    font-weight: bold;
    font-display: swap;
    src: url(../assets/fonts/ProximaNova/ProximaNova-Bold.ttf);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--color-text--light);
  background: var(--white);
  font-family: 'proxima-nova';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: 1.1;
}
a {
  color: inherit;
  text-decoration: none;
  transition: all .2s;
  word-break: break-word;
}
a:hover {
  color: var(--accent--light);
}
ul {
  list-style: none;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
.link-to-previous {
  cursor: pointer;
}

/*******************************************
Titles
********************************************/
.h1 {
  font-size: 35px;
}
.h2 {
  font-size: 28px;
}
.h3 {
  font-size: 25px;
}
.h4 {
  font-size: 20px;
}
/*******************************************
Text colors
********************************************/
.color-accent {
  color: var(--accent--light);
}
.color-text {
  color: var(--color-text--light);
}
.color-title {
  color: var(--color-title--light);
}
/*******************************************
wrapper
********************************************/
.wrapper {
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.wrapper-1140 {
  width: 100%;
  max-width: 1140px;
}
.wrapper-1170 {
  width: 100%;
  max-width: 1140px;
}
.wrapper-890 {
  width: 100%;
  max-width: 860px;
}

/*******************************************
FLEX LAYOUTS
********************************************/
.row {
  display: flex;
  align-items: center;
  flex-direction: row;
}
/*******************************************
Button btn
********************************************/
.btn {
  height: 40px;
  background: var(--accent--light);
  border: 0 none;
  color: var(--white);
  font-size: 14px;
  font-weight: bold;
  padding: 10px 25px;
  text-transform: uppercase;
  transition: all 0.5s ease 0s;
  width: auto;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.btn:hover,
.btn.active {
  background: var(--color-title--light) none repeat scroll 0 0;
}

/*******************************************
HEADER
********************************************/
.header {
  width: 100%;
  left: 0;
  top: 0;
  box-shadow: 1px 2px 4px #000000;
  position: fixed;
  background-color: var(--white);
  z-index: 60;
}
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-spacing {
  height: 60px;
}
.header-nav {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
}
.header-nav-list li a {
  display: inline-block;
  /*padding: 0 20px;*/
  color: var(--color-title--light);
  line-height: 55px;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
}
.header-nav-list li a:after {
  content: "";
  /*left: 50%;*/
  left: 0;
  top: 70%;
  margin-top: -1.5px;
  position: absolute;
  width: 0;
  background: var(--accent--light);
  bottom: 22px;
  height: 3px;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
.header-nav-list li:hover a:after,
.header-nav-list li a.active:after {
  width: 100%;
}
.header-logo {
  width: 200px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.header-logo img {
  width: auto;
  height: 50px;
}
.menu-toggler {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}
.desktop-menu {
  display: flex;
  align-items: center;
  gap: 30px;
}
.auth-menu-list {
  gap: 10px;
}
.mobile-menu {
  display: none;
}
.mobile-menu .mobile-menu-container {
  width: 100%;
  max-width: 410px;
  height: 80vh;
  overflow: auto;
  position: fixed;
  right: -100%;
  top: 38px;
  transition: all .3s;
  z-index: 100;
  background-color: var(--white);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.mobile-menu .mobile-menu-container .header-nav-list {
  flex-direction: column;
  align-items: flex-start;
}
.mobile-menu.open .mobile-menu-container {
  right: 0;
}

@media (max-width: 920px) {
  .header-logo {
    width: 180px;
    height: 30px;
  }
  .header-spacing {
    height: 36px;
  }
  .desktop-menu {
    display: none;
  }
  .mobile-menu {
    display: block;
  }
  .menu-toggler {
    display: flex;
  }
  .auth-menu-list {
    gap: 6px;
  }
}

/*********************************
FOOTER
**********************************/
.footer {
  position: relative;
  padding: 80px 0 40px;
  background-color: var(--black);
}
.footer-logo {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  width: 180px;
  height: 30px;
  position: relative;
}
@media (max-width: 767px) {
  .footer {
    padding-top: 30px;
  }
}

/*Section*/
.section {
  padding: 40px 0;
}
@media (max-width: 767px) {
  .section {
    padding: 20px 0;
  }
}

/************************************
Posts Grid
*************************************/
.posts-grid {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}
.posts-grid-item {
  position: relative;
  /*background: rgba(0,0,0, .5);*/
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: calc((100% - 6rem) / 4);
  /*border-radius: 10px;*/
  /*-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);*/
  /*-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);*/
  /*box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);*/
  transition: all .2s;
}
.posts-grid-item--inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.posts-grid-item--front {
  width: 100%;
  height: 357px;
  position: relative;
}
.posts-grid-item--image {
  width: 100%;
  height: 100%;
  position: relative;
}
.posts-grid-item--image img {
  object-fit: cover;
}
.posts-grid-hover-area {
  width: 100%;
  height: 100%;
  position: absolute;
  display: inline-block;
  left: 0;
  top: 0;
  z-index: 1;
}
.posts-grid-hover-area:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  opacity: 0;
  z-index: 0;
  background-color: var(--accent--light);
  transform: scale(0.15);
  -webkit-transform: scale(0.15);
  transition: all 0.2s linear;
}
.posts-grid-item--image a:hover:after {
  opacity: 0.3;
  transform: scale(1);
  -webkit-transform: scale(1);
}
.posts-grid-item--title {
  color: var(--color-title--light);
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
  margin: 0 0 6px;
  transition: all .3s;
}
.posts-grid-item--title:hover {
  color: var(--accent--light)
}
.posts-grid-item--description {
  font-size: var(--color-text--light);
  color: #999999;
}
.posts-grid-tooltip {
  background-color: var(--black);
  padding: 20px;
  border-radius: 5px;
  position: absolute;
  width: 150%;
  height: 100%;
  right: calc(-150% - 2rem);
  z-index: 50;
}
.posts-grid-item.last-in-row .posts-grid-tooltip {
  left: calc(-150% - 2rem);
}
.posts-grid-tooltip:before {
  content: '';
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid var(--black);
  position: absolute;
  top: calc(50% - 10px);
  left: -18px;
}
.posts-grid-item.last-in-row .posts-grid-tooltip:before {
  content: '';
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: unset;
  border-left: 20px solid var(--black);
  top: calc(50% - 10px);
  left: unset;
  right: -18px;
}
.posts-grid-tooltip-inner {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.posts-grid-tooltip-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.posts-grid-tooltip-title {
  max-width: 70%;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
  color: var(--white);
}
.posts-grid-tooltip-taxonomies-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.posts-grid-tooltip-taxonomies {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.posts-grid-tooltip-taxonomies-item .term-values {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 4px;
}
.posts-grid-tooltip-taxonomies-item .term-value {
  color: var(--white);
  line-height: 1;
}
.posts-grid-tooltip-taxonomies-item .term-value:not(:last-child):after {
  content: ',';
}
.posts-grid-tooltip-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.posts-grid-tooltip-actions-icons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}
@media (max-width: 1024px) {
  .posts-grid-item {
    width: calc((100% - 4rem) / 3);
  }
}
@media (max-width: 860px) {
  .posts-grid-item--title {
    font-size: 16px;
  }
  /*.posts-grid-item {*/
  /*  width: calc((100% - 2rem) / 2);*/
  /*}*/
}
@media (max-width: 767px) {

}
@media (max-width: 570px) {
  /*.posts-grid-item {*/
  /*  width: 100%;*/
  /*}*/
  .posts-grid-item--front {
    height: 250px;
  }
  .posts-grid-item {
    width: calc((100% - 2rem) / 2);
  }
}


/************************************
Posts List
*************************************/
.posts-list {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}
.posts-list-item {
  width: 100%;
  display: flex;
  gap: 30px;
}
.posts-list.col-2 .posts-list-item {
  width: calc(50% - 1rem);
}
.posts-list-item-front {
  display: inline-block;
  float: left;
  position: relative;
}
.posts-list-item-poster {
  width: 196px;
  height: 300px;
  position: relative;
}
.posts-list-item-poster img {
  object-fit: cover;
}
.posts-list-item-back {
  width: 100%;
}
.posts-list-item-back-inner {
  min-height: 294px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  flex-direction: column;
  -webkit-flex-direction: column;
  position: relative;
}

.posts-list-grid-2 .posts-list-list .posts-list-items .posts-list-item .posts-list-item-back .posts-list-item-back-inner .posts-list-item-content,
.posts-list-layout-list .posts-list-list .posts-list-items .posts-list-item .posts-list-item-back .posts-list-item-back-inner .posts-list-item-content {
  padding: 0px 0 5px 0px;
}

.posts-list-field-desc {
  font-size: 13px;
  line-height: 1.2;
  margin-bottom: 10px;
}
.posts-list-field-desc p {
  margin-bottom: 10px;
}
.posts-list-custom-field-group {
  display: flex;
  align-items: flex-start;
  gap: 5px;
}
.posts-list-item .info-list-item label {
  color: var(--color-text--light);
  font-weight: bold;
  font-size: 13px;
}
.posts-list-item .info-list-item span {
  font-size: 13px;
  width: calc(100% - 80px);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0 5px;
  color: var(--color-title--light);
}
.posts-list-item .info-list-item span a:not(:last-child):after {
  content: ',';
}
.posts-list .post-link {
  font-size: 15px;
}
.posts-list .post-link span {
  width: 20px;
  height: 20px;
  font-size: 12px;
}

.posts-list .entry-action {
  margin-top: 10px;
}


.posts-list.sidebar-snippet,
.list-small.sidebar-snippet {
  gap: 1rem;
}
.posts-list.sidebar-snippet .info-list,
.list-small .info-list {
  display: none;
}
.posts-list.sidebar-snippet .posts-list-item-poster,
.list-small .posts-list-item-poster {
  width: 118px;
  height: 159px;
}
.sidebar-snippet .posts-list-item-back-inner,
.list-small .posts-list-item-back-inner {
  min-height: 159px;
}
.sidebar-snippet .entry-action,
.list-small .entry-action {
  display: none;
}
.list-small .entry-title,
.sidebar-snippet .entry-title {
  font-size: 16px;
}

@media (max-width: 920px) {
  .posts-list-item,
  .posts-list.col-2 .posts-list-item {
    width: 100%;
  }
  .posts-list .posts-list-item-back-inner {
    min-height: 159px;
  }
}
@media (max-width: 767px) {
  .posts-list-item-poster {
    width: 118px;
    height: 159px;
  }
  .posts-list .entry-title {
    font-size: 16px;
  }
  .posts-list .info-list {
    display: none;
  }

}

/***********************************
Posts Most Viewed
************************************/

/***********************************
Loading Spinner
************************************/
.loading-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 18px;
  z-index: 1000;
}

/*.loading-spinner {*/
/*  position: fixed;*/
/*  top: 0;*/
/*  left: 0;*/
/*  width: 100%;*/
/*  height: 4px;*/
/*  background: linear-gradient(90deg, #ff0080, #ff8c00);*/
/*  animation: loading 1s infinite;*/
/*  z-index: 1000;*/
/*}*/

/*@keyframes loading {*/
/*  0% { width: 0%; }*/
/*  50% { width: 50%; }*/
/*  100% { width: 100%; }*/
/*}*/


/***********************************
Pagination
************************************/
.pagination-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.pagination-item a {
  color: var(--accent--light);
  border: 2px solid var(--accent--light);
  font-weight: 700;
  font-size: 15px;
  padding: 7px 15px;
  border-radius: 3px;
  display: inline-block;
  transition: all .3s;
}
.pagination-item a:hover,
.pagination-item a.active {
  background-color: var(--accent--light);
  color: var(--white);
}


/***********************************
Post Entry Info
************************************/
.entry-title {
  color: var(--color-title--light);
  font-size: 22px;
  font-weight: bold;
  padding-right: 0;
  margin-bottom: 5px;
}
/*List*/
.info-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 5px;
}
.info-list-item {
  display: flex;
  color: var(--color-title--light);
  gap: 0 5px;
}
.info-list-item label {
  color: var(--color-title--light);
  font-weight: bold;
  font-size: 15px;
  width: 90px;
  min-width: 90px;
}
.info-list-item span {
  font-size: 15px;
  width: calc(100% - 80px);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 8px;
}
.info-list-item span a:not(:last-child):after {
  content: ',';
}
.info-list-item.word-wrap {
  flex-wrap: wrap;
}
.info-list-item.word-wrap label {
  width: auto;
  min-width: unset;
}

/*Actions*/
.entry-action {
  width: 100%;
  border-bottom: 1px solid #f1f1f1;
  border-top: 1px solid #f1f1f1;
  padding: 10px 0;
  position: relative;
  display: flex;
  justify-content: space-between;
}
/*Post Link*/
.post-link {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 18px;
  transition: all .3s;
}
.post-link:hover {
  color: var(--accent--light);
}
.post-link span {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--accent--light);
  font-size: 20px;
}
.post-link:hover span {
  color: var(--color-text--light);
}

/*Hover area*/
/*.post-hover-area {*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  position: absolute;*/
/*  display: inline-block;*/
/*  left: 0;*/
/*  top: 0;*/
/*  z-index: 1;*/
/*}*/
.poster-hover-area:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  opacity: 0;
  z-index: 0;
  background-color: var(--accent--light);
  transform: scale(0.15);
  -webkit-transform: scale(0.15);
  transition: all 0.2s linear;
}
.poster-hover-area:hover:after {
  opacity: 0.3;
  transform: scale(1);
  -webkit-transform: scale(1);
}

/***********************************
Post Details Single Post
************************************/
.post-container {
  display: flex;
}
.post-single {
  width: 100%;
}
.entry-top {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
}
.entry-poster {
  width: 204px;
  min-width: 204px;
  height: 350px;
  position: relative;
}
.entry-poster img {
  object-fit: cover;
}
.entry-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.post-single .entry-info h1 {
  color: var(--color-title--light);
  font-size: 28px;
  font-weight: bold;
  margin-top: 0;
}
.post-single .entry-info .duration {
  color: var(--accent--light);
  font-weight: bold;
  margin-left: 15px;
}
/*.post-single .entry-info ul.info-list {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: flex-start;*/
/*  padding: 0;*/
/*  gap: 8px;*/
/*}*/
/*.post-single .entry-info ul.info-list li {*/
/*  display: flex;*/
/*  color: var(--color-title--light);*/
/*}*/
/*.post-single .entry-info ul.info-list li label {*/
/*  color: var(--color-title--light);*/
/*  font-weight: bold;*/
/*  font-size: 15px;*/
/*  width: 90px;*/
/*  min-width: 90px;*/
/*}*/
/*.post-single .entry-info ul.info-list li span {*/
/*  font-size: 15px;*/
/*  width: calc(100% - 80px);*/
/*  display: flex;*/
/*  align-items: flex-start;*/
/*  justify-content: flex-start;*/
/*  flex-wrap: wrap;*/
/*  gap: 8px;*/
/*}*/
/*.post-single .entry-info ul.info-list li span a:not(:last-child):after {*/
/*  content: ',';*/
/*}*/

.social-links {
  display: flex;
  list-style: none;
}
.social-links li {
  display: flex;
  align-items: center;
  justify-content: center;
}
.info-name {
  color: var(--accent--light);
  display: inline-block;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 0;
  position: relative;
  padding-bottom: 5px;
}
.entry-content {
  margin-top: 25px;
}
.entry-media {
  margin-top: 25px;
}

@media (max-width: 920px) {
  .post-container {
    flex-direction: column;
    gap: 30px;
  }
}
@media (max-width: 767px) {
  .entry-top {
    flex-direction: column;
    gap: 15px;
  }
}

/***********************************
Sidebar and Layout
************************************/
.sidebar {
  width: 33%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.post-content {
  width: 100%;
}

.widget-title {
  font-size: 28px;
  color: var(--accent--light);
  margin-bottom: 10px;
}
.widget-description {
  margin-bottom: 10px;
}

@media (max-width: 920px) {
  .sidebar {
    width: 100%;
  }
  .widget-title {
    font-size: 22px;
  }
}


/***********************************
Filter
************************************/
.filters {
  padding: 40px 0 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-flow: dense;
  gap: 1rem;
}
.filters-items {
  padding: 0 10px;
}

/***********************************
Sorting
************************************/
.posts-sorting-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.posts-sorting-item {
  width: 80px;
}

/***********************************
Accordion Item
************************************/
.accordion-wrapper {
  width: 100%;
}
.accordion-item {
  width: 100%;
  position: relative;
}
.accordion-item-title {
  width: 100%;
  text-align: left;
  cursor: pointer;
  position: relative;
}
.accordion-item-title:before {
  content: '+';
  right: 10px;
  top: calc(50% - 10px);
  /* width: 17px; */
  /* height: 22px; */
  position: absolute;
  font-size: 20px;
  line-height: 1;
}
.accordion-item-title.open:before {
  content: '-';
}
.accordion-item-content {
  width: 100%;
  height: auto;
  transition: all .5s;
  /*overflow: hidden;*/
  overflow: auto;
  text-align: left;
  background-color: var(--white);
  -webkit-box-shadow: 0px 2px 5px 0px var(--color-text--light);
  -moz-box-shadow: 0px 2px 5px 0px var(--color-text--light);
  box-shadow: 0px 2px 5px 0px var(--color-text--light);
}
.content-absolute {
  position: absolute;
  z-index: 10;

}
.accordion-item-content.open {
  max-height: 400px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.accordion-item-content.open.unlimited-height {
  max-height: 1000px;
}
.filters .accordion-item-content.open {
  max-height: 400px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.accordion-item-content.close {
  max-height: 0;
  padding: 0;
}

@media (max-width: 767px) {
  .filters {
    gap: .5rem;
  }
}


/***********************************
Accordion
************************************/
/*basic*/
.accordionBtn {
  position: relative;
}
.accordionBtn:before {
  /*transition-duration: 0.2s;*/
}
.accordionBtn:before {
  content: '+';
  right: 10px;
  top: calc(50% - 12px);
  /* width: 17px; */
  /* height: 22px; */
  position: absolute;
  font-size: 20px;
  line-height: 1;
}
.accordionBtn.active:before {
  content: '—';
  font-size: 17px;
  /* top: 28px; */
  top: calc(50% - 11px);
}
.accordionPanel {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  overflow: auto;
}
.accordionPanel.active {


}

/***********************************
Checkbox
************************************/
.checkboxWrapper {
  width: 100%;
  padding: 9px;
  position: relative;
  background-color: var(--white);
  color: #000;
}
.checkboxBody {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.checkboxBody.accordionPanel {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--color-title--light);
  color: #000;
  padding: 0 8px;
  z-index: 10;
}
.checkboxLabel {
  padding: 5px 0;
}
.checkboxLabel:first-child {
  padding-top: 10px;
}

/*Custom Checkbox*/
.custom-checkbox-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.custom-checkbox {
  width: 15px;
  height: 15px;
  border: 1px solid #000;
  background-color: #e1eeeb;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3px;
}
.custom-checkbox-wrapper input {
  display: none;
}
.custom-checkbox-icon {
  transform: scale(0);
  transition: all .2s;
  font-size: 14px;
}
.custom-checkbox-icon.checked {
  transform: scale(1);
  color: #000;
}

/**************************************
Form
***************************************/
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
  display: block;
  width: 100%;
  height: 40px;
  padding: 6px 15px;
  font-size: 14px;
  line-height: 1.428571429;
  color: var(--color-text--light);
  background-color: var(--white);
  background-image: none;
  border: 1px solid var(--color-text--light);
  border-radius: 0;
  -webkit-transition: border-color ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s;
  -webkit-appearance: none;
}
textarea:focus-visible, input[type="text"]:focus-visible, input[type="password"]:focus-visible, input[type="datetime"]:focus-visible, input[type="datetime-local"]:focus-visible, input[type="date"]:focus-visible, input[type="month"]:focus-visible, input[type="time"]:focus-visible, input[type="week"]:focus-visible, input[type="number"]:focus-visible, input[type="email"]:focus-visible, input[type="url"]:focus-visible, input[type="search"]:focus-visible, input[type="tel"]:focus-visible, input[type="color"]:focus-visible {
  border-color: var(--accent--light);
  outline: var(--accent--light);
}
textarea {
  height: unset;
}
.input-icon {
  position: absolute;
  right: 10px;
  top: 10px;
}
.input-icon {
  cursor: pointer;
}
.input-icon svg {
  fill: var(--color-title--light);
}
.input-icon.active svg {
  fill: var(--color-text--light);
}
.input-icon svg,
.input-icon img {
  width: auto;
  height: 20px;
}
input.input-error,
textarea.input-error {
  border-color: var(--error);
}
.form-item {
  margin: 10px 0;
  position: relative;
}
.error-message {
  color: var(--error);
}

/**************************************
Icon Link
***************************************/
.icon-link {
  cursor: pointer;
}
.icon-link svg,
.icon-link img {
  width: auto;
  height: 20px;
  fill: var(--color-title--light);
  transition: all .2s;
}
.icon-link:hover svg,
.icon-link:hover img,
.icon-link.active svg,
.icon-link.active img {
  fill: var(--accent--light);
}
.icon-link.favourites-link svg {
  fill: var(--color-title--light);
}
.icon-link.favourites-link:hover svg,
.icon-link.favourites-link.active svg {
  fill: var(--accent--light);
}
/**************************************
Flex Styles
***************************************/
.d-flex {
  display: flex;
}
.d-flex-row {
  flex-direction: row;
}
.d-flex-row-reverse {
  flex-direction: row-reverse;
}
.d-flex-column {
  flex-direction: column;
}
.d-flex-column-reverse {
  flex-direction: column-reverse;
}
.d-flex-wrap {
  flex-wrap: wrap;
}
.d-justify-start {
  justify-content: flex-start;
}
.d-justify-end {
  justify-content: flex-end;
}
.d-justify-center {
  justify-content: center;
}
.d-justify-around {
  justify-content: space-around;
}
.d-justify-between {
  justify-content: space-between;
}
.d-align-start {
  align-items: flex-start;
}
.d-align-end {
  align-items: flex-start;
}
.d-align-center {
  align-items: center;
}
@media (max-width: 920px) {
  .t-flex-row {
    flex-direction: row;
  }
  .t-flex-row-reverse {
    flex-direction: row-reverse;
  }
  .t-flex-column {
    flex-direction: column;
  }
  .t-flex-column-reverse {
    flex-direction: column-reverse;
  }
  .t-flex-wrap {
    flex-wrap: wrap;
  }
  .t-justify-start {
    justify-content: flex-start;
  }
  .t-justify-end {
    justify-content: flex-end;
  }
  .t-justify-center {
    justify-content: center;
  }
  .t-justify-around {
    justify-content: space-around;
  }
  .t-justify-between {
    justify-content: space-between;
  }
  .t-align-start {
    align-items: flex-start;
  }
  .t-align-end {
    align-items: flex-start;
  }
  .t-align-center {
    align-items: center;
  }
}
@media (max-width: 767px) {
  .m-flex-row {
    flex-direction: row;
  }
  .m-flex-row-reverse {
    flex-direction: row-reverse;
  }
  .m-flex-column {
    flex-direction: column;
  }
  .m-flex-column-reverse {
    flex-direction: column-reverse;
  }
  .m-flex-wrap {
    flex-wrap: wrap;
  }
  .m-justify-start {
    justify-content: flex-start;
  }
  .m-justify-end {
    justify-content: flex-end;
  }
  .m-justify-center {
    justify-content: center;
  }
  .m-justify-around {
    justify-content: space-around;
  }
  .m-justify-between {
    justify-content: space-between;
  }
  .m-align-start {
    align-items: flex-start;
  }
  .m-align-end {
    align-items: flex-start;
  }
  .m-align-center {
    align-items: center;
  }
}

/*************************************
Image Picker
**************************************/
.image-picker-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
}
.image-picker {
  width: 150px;
  height: 150px;
  position: relative;
  border: 1px solid var(--color-text--light);
}
.image-picker img {
  object-fit: cover;
}
.image-picker-input {
  position: absolute;
  left: -1000%;
  display: none;
}

/******************************************
Create Post Success
*******************************************/
.create-post-success {

}
.create-post-title {
  margin-bottom: 15px;
}
.create-post-content {

}
.create-post-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 15px;
}

/****************************************
SVG Count
*****************************************/
.svg-icon {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-title--light);
  border-radius: 50%;
  background-color: var(--accent--light);
  font-size: 10px;
}
.svg-icon.rounded {
  border-radius: 50%;
}
.svg-icon.square {
  border-radius: 0;
}
.svg-icon svg {
  height: 18px;
  width: auto;
  fill: var(--color-title--light);
}


/****************************************
Views Count
*****************************************/
.views-count {

}
.posts-grid-item-icons {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;
  z-index: 10;
}
.views-count-icon {
  width: 18px;
  height: 18px;
  position: relative;
}
.views-count-icon svg {

}
.views-count-icon span {
  position: absolute;
  top: 0;
  right: 2px;
  font-weight: bold;
}

/***************************************
Favourites icon
****************************************/
.favoutires-icon {
  background-color: transparent;
  cursor: pointer;
}
.favoutires-icon svg {
  fill: var(--accent--light);
}
.favoutires-icon.active svg {
  fill: red;
}

/**************************************
Search bar
***************************************/
.search-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.search-bar input {
  height: 25px;
  transition: all .1s;
  border-radius: 4px;
}
.search-bar input.hide {
  width: 0;
}
.search-bar input.show {
  width: auto;
}
.search-bar-icon {
  background-color: transparent;
  cursor: pointer;
  border: none
}



/**************************************
Animations
***************************************/
@keyframes animation-pumping {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
    fill: #c02121;
  }
  100% {
    transform: scale(1);
  }
}

.animate-pumping {
  animation: animation-pumping .6s linear 1;
}

/**************************************
Account
***************************************/
.account-content {
  width: 100%;
}

/***************************************
CArt Button Cart Icon
****************************************/
.add-to-cart-button.svg-icon {
  cursor: pointer;
  background-color: transparent;
}
.add-to-cart-button.svg-icon svg {
  fill: var(--accent--light);
}
.cart-link {
  cursor: pointer;
}


/***************************************
Keen Slider
****************************************/
.keen-slider-wrapper {
  position: relative;
}
.keen-slider .posts-grid-item {
  width: 100%;
}
.keen-arrow-button {
  background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  padding: 0;
  width: 30px;
  border: none;
  position: absolute;
  cursor: pointer;
}
.grid .keen-arrow-button {
  top: calc((var(--post-grid-poster-height) / 2) - 15px);
}
.list .keen-arrow-button {
  top: calc((var(--post-list-poster-height) / 2) - 15px);
}
.list-small .keen-arrow-button {
  top: calc((var(--post-list-small-poster-height) / 2) - 15px);
}
.keen-arrow-button.prev {
  left: 5px;
}
.keen-arrow-button.next {
  left: unset;
  right: 5px;
}
.keen-arrow-button svg {
  height: 20px;
  fill: var(--white);
}

/************************************
Loading Indicator
*************************************/
.loading-indicator-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading-indicator {
  width: 50px;
  height: 50px;
  border: 8px solid;
  border-radius: 50%;
  border-left-color: #e1eeeb;
  border-bottom-color: #e1eeeb;
  border-top-color: #e1eeeb;
  border-right-color: transparent;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/***********************************
Delete Post
************************************/
.delete-post-modal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

/***********************************
Post Modal
************************************/
.post-modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 9999;
}
.post-modal-content {
  width: 100%;
  height: 90%;
  background: white;
  padding: 20px;
  border-radius: 8px 8px 0 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  overflow: auto;
}
.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: transparent;
  font-size: 23px;
}
.post-modal-link {
  width: 100%;
}

/***********************************
HELPER CHAT
************************************/
.helper-chat-wrapper {
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 100;
}
.helper-chat-button {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}
.helper-chat-icon {
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: all .2s;
}
.helper-chat-icon img,
.helper-chat-icon svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.helper-chat-icon:hover {
  transform: scale(1.1);
}
.helper-chat-body {
  width: 90vw;
  max-width: 400px;
  height: 100vh;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  gap: 15px;
  background-color: var(--primary-light-bg);
  padding: 30px 10px 10px;
  border-radius: 10px;
  position: relative;
  box-shadow: 3px 0px 9px var(--tg-stroke);
}
.helper-chat-header {
  margin-bottom: auto;
  padding: 20px 0;
}
.helper-chat-result--heading {
  margin-bottom: 10px;
}
.helper-chat-result--user-query {
  font-style: italic;
  color: var(--color-title--light);
}
.helper-chat-result {
  background-color: #fff;
  border: 1px solid var(--tg-stroke);
  border-radius: 10px;
  padding: 10px;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.helper-chat-result--item {
  padding: 10px 0;
}
.helper-chat-result--item:not(:last-child) {
  border-bottom: 1px solid var(--color-text--light);
}
.helper-chat-result--item-title {
  color: var(--color-title--light);
  margin-bottom: 8px;
  display: inline-block;
}
.helper-chat-close {
  width: 20px;
  height: 20px;
  border: 1px solid var(--tg-stroke);
  border-radius: 50%;
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 15px;
  color: var(--tg-stroke);
  padding-top: 2px;
  transition: all .2s;
}
.helper-chat-close:hover {
  color: var(--accent--light);
  background-color: var(--tg-stroke);
}
.helper-chat-submit {
  width: 60px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: unset;
  border: 1px solid var(--color-text--light);
  background-color: var(--color-title--light);
  transition: all .2s;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: none;
}
.helper-chat-submit svg path {
  fill: var(--accent--light);
  transition: all .2s;
}
.helper-chat-submit:hover {
  background-color: var(--accent--light);
}
.helper-chat-submit:hover svg path {
  fill: #fff;
}

.helper-chat-body input[type="text"]{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: none;
}

@media (max-width: 992px) {
  .helper-chat-wrapper {
    position: fixed;
    right: 30px;
    bottom: 30px;
  }
  .helper-chat-icon {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 767px) {
  .helper-chat-wrapper {
    position: fixed;
    right: 20px;
    bottom: 20px;
  }
}

/********************************** SCROLLBARS ********************************/
/*.tribe_events_filter_item*/
::-webkit-scrollbar {
  /*width: 17px;*/
  width: 8px;
}
::-webkit-scrollbar:hover {
  /*width: 17px;*/
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track  {
  box-shadow: inset 0 0 15px var(--primary-light);
  border-radius: 0;
}

/* Handle */
::-webkit-scrollbar-thumb  {
  background: var(--tg-stroke);
  border-radius: 0;
  box-shadow: inset 0 0 15px var(--color-text--light);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--tg-stroke);

}

